
h1{
    margin: auto;
    height: max-content;
    text-align: center;
    border: 2px solid ;
    position: relative;
    border-color: rgb(0, 0, 0);
    color: rgb(0, 17, 255);
    font-family: 'KingMalik';
    font-size: 46px;
    text-shadow: 7px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

    color: beige;
    display: flex;
    text-align: center;
    justify-content: center;

}

header {
    background-image: url(gucci.jpg);
    position: relative;
}
table {
     justify-content: center;
     align-items: center;
     width: auto;
    display: flex;
      
     border-collapse: collapse;
     height: 250px;
     font-size: 30px;
     margin: 350px;
     
      


}
.historia::after {
  height: 20px;
  width: 20px;
  display: inline-block;
  content: url('información.png');
}

img {
    width: 12px;
    height: 12px;
}
body {
    background-color: beige;
}


@font-face {
    font-family: KingMali;
    src: url("HussarBold-7mRE.otf");
}

.klk {
    background-color: rgb(255, 255, 151);
    border-color: solid black;
    border: 1px solid;
    width: 700px;
    display: block;
    text-align: center;
    position: relative;
    margin: 100px auto;
    font-size: 20px;

}

a:visited {
    color:purple;
}

tr{
    border:5px;
    padding: 5px;
    border-top: 10px;
    border-right: 5px;
     

}

th, td{
    border-collapse: collapse;
    padding: 20px;
}

th{
    background-color: white;
    border-bottom: solid 5px black;
 
}

.color:nth-child(odd) {background: burlywood;}
.color:nth-child(even){background: lightyellow;}

tr:hover td{
    background-color: rgba(71, 58, 58, 0.534);
    
}

