
h1{
    margin: auto;
    height: max-content;
    text-align: center;
    border: 2px solid ;
    position: relative;
    border-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-family: 'KingMali';
    font-size: 46px;
    text-shadow: 3px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

    display: flex;
    text-align: center;
    justify-content: center;

}

header {
    background-image: url(gucci.jpg);
    position: relative;
}
table {
     justify-content: center;
     align-items: center;
     width: 85% auto;
    display: flex;
     border-collapse: collapse;
     height: 400px;
     font-size: 17px;
     margin: 130px;
     
      


}
.historia::after {
  height: 20px;
  width: 20px;
  display: inline-block;
  content: url('información.png');
}

img {
    width: 12px;
    height: 12px;
}
body {
    background-color: beige;
    display: flex;
    justify-content: center;
}


@font-face {
    font-family: KingMali;
    src: url("HussarBold-7mRE.otf");
}

.klk {
    background-color: rgb(255, 255, 151);
    border-color: solid black;
    border: 1px solid;
      display: flex;
    text-align: center;
    justify-content: center;
    margin: 50px auto;
    font-size: 20px;

}

.inicio {
    text-align: center;
    width: auto;
    background-color: rgb(255, 255, 151);
    border: 5px solid black;
    margin: 50px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    
    padding: 10px;

}

a:visited {
    color:black;
}

tr{
    border:5px;
    padding: 5px;
    border-top: 10px;
    border-right: 5px;
     

}

th, td{
    border-collapse: collapse;
    padding: 20px;
}

th{
    background-color: white;
    border-bottom: solid 4px black;
 
}

.color:nth-child(odd) {background: rgb(255, 1, 1);}
.color:nth-child(even){background: lightyellow;}

tr:hover td{
    background-color: rgba(71, 58, 58, 0.534);
    
}
 

footer {
    background-color: black;
    text-align: center;
    height: 150px;
    width: auto;
    color: white;
    font-size: 25px;
    

}

.flex {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-decoration: underline;
    color: aqua;

}

.home{
display: flex;
flex-direction: column;
justify-content: center;  
 
width: 85%;
}