body{
    background-color: beige;
}

p{
   border: 5px solid black;
   padding: 20px;
   background-color: burlywood;
   font-family: 'Times New Roman', Times, serif;
   font-size: 25px;
}


.fondo2{
    background-color: burlywood;
}
 
ul {
    border: 5px solid black;
   padding: 20px;
   background-color: burlywood;
   font-family: 'Times New Roman', Times, serif;
   font-size: 25px;
}

a:hover{
    background-color: yellow;
}

img{
padding: 10px;
background-color: black;
}

h1 {
    display:flex;
    text-align: center;
    justify-content: center;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: underline;
}