body{
    background-color: beige;
}

p{
   border: 5px solid black;
   padding: 20px;
   background-color: burlywood;
   font-family: 'Times New Roman', Times, serif;
   font-size: 25px;
}

<<<<<<< HEAD
.botones {
=======
.fondo2{
    background-color: burlywood;
}
 
ul {
    border: 5px solid black;
   padding: 20px;
   background-color: burlywood;
   font-family: 'Times New Roman', Times, serif;
   font-size: 25px;
>>>>>>> ab6a85e1bfb2e90ea02fcd265e34883263762a5c
}